<html>
<head>
    <title>About Page</title>
</head>
<body>
    <h1>Welcome to About</h1>
    <h2>Click on the link below to redirect</h2>
    <a href='/'>Home Page</a><br><br>
    <a href='/about/'>About Page</a><br><br>
    <a href='/contact/'>Contacts</a><br><br>
    <a href='/service/'>Services</a><br><br>
    <a href='/register/'>Register Page</a><br><br>
    <a href='/login/'>Login Page</a><br><br>


    <h2>Employee Details via loop access : </h2>
    {% for k,v in empDetails.items %}
    <p>{{k}}-->{{v}}</p>
    <!-- <p>{{row}}</p> -->
    {% endfor %}
    
    <h2>Employee details Manual Access</h2>
    <p>Employee id : {{empDetails.eno}}</p>
    <p>Employee name : {{empDetails.enm}}</p>
    <p>Employee Salary : {{empDetails.esal}}</p>

    <h2>Marks List Loop Access : </h2>
    {% for x in marks %}
    <p>{{x}}</p>
    {% endfor %}

    <h2>Marks List Manual Access :</h2>
    <p>{{marks}}</p>
    <p>marks1 : {{marks.0}}</p>
    <p>marks2 : {{marks.1}}</p>
    <p>marks3 : {{marks.2}}</p>
    <p>marks4 : {{marks.3}}</p>


    <h2>Addition Operation</h2>
    <p>a = {{a}}</p>
    <p>b = {{b}}</p>
    <p>Sum = {{c}}</p>
</body>
</html>