<html>
<head>
    <title>Contact Page</title>
</head>
<body>
    <h1>Welcome to Contact</h1>
    <h2>Click on the link below to redirect</h2>
    <a href='/'>Home Page</a><br><br>
    <a href='/about/'>About Page</a><br><br>
    <a href='/contact/'>Contacts</a><br><br>
    <a href='/service/'>Services</a><br><br>
    <a href='/register/'>Register Page</a><br><br>
    <a href='/login/'>Login Page</a><br><br>

    <h1>View and Manage User details</h1>
    <table border="3" cellspacing="8" cellpadding="8">
        <tr>
            <th>UserID</th>
            <th>Username</th>
            <th>Password</th>
        </tr>

        {% for row in users%}
        <tr>
            <td>
                {{row.uid}}
            </td>
            <td>
                {{row.unm}}
            </td>
            <td>
                {{row.upass}}
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>