<div id="page-bottom" style="justify-self: center;">
		<div id="page-bottom-content">
			<h3>About us</h3>
			<p>
				Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum ducimus perspiciatis quasi nobis at autem consectetur necessitatibus accusamus sed, quis aspernatur voluptatum dolorum corrupti veniam iusto velit voluptatem inventore, adipisci ullam nostrum unde minus. Eveniet amet accusantium sapiente similique repellendus. Placeat soluta et totam autem temporibus vel vitae libero magni.
			</p>
		</div>
		<div id="page-bottom-sidebar">
			<h3>Quick Links</h3>
			<ul class="list">
				<li class="first"><a href="#">Home</a></li>
				<li><a href="#">Register</a></li>
				<li class="last"><a href="#">Login</a></li>
			</ul>
		</div>
		<br class="clearfix" />
	</div>
	<!-- pagebottom ends -->
</div>


<div id="footer">
	<h2>&copy; ShareIt. All rights reserved. Design by <a href="" rel="nofollow">Vivek Yadav</a></h2>
</div>

</body>
</html>