{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="description" content="" />
<meta name="keywords" content="" />
<title>Share IT</title>
<link href="{% static './images/logo.png' %}" rel="icon">
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="{%static 'style.css' %}" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'jquery.dropotron-1.0.js' %}"></script>
<script type="text/javascript" src="{% static 'jquery.slidertron-1.1.js' %}"></script>
<script type="text/javascript">
	$(function() {
		$('#menu > ul').dropotron({
			mode: 'fade',
			globalOffsetY: 11,
			offsetY: -15
		});
		$('#slider').slidertron({
			viewerSelector: '.viewer',
			indicatorSelector: '.indicator span',
			reelSelector: '.reel',
			slidesSelector: '.slide',
			speed: 'slow',
			advanceDelay: 4000
		});
	});
</script>
</head>
<body>
<div id="wrapper">
	<!-- Header -->
	<div id="header">
		<div id="logo">
			<h1><a href="#">Share IT</a></h1>
		</div>
		<div id="slogan">
			<h2>Design by Vivek Yadav</h2>
		</div>
	</div>
	<!--Header ends-->
	<div id="menu">
		<!-- Menu -->
		<ul>
			<li class="first"><a href="#">Home</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Contact</a></li>
			<li><a href="#">Service</a></li>
			<li><a href="#">Register</a></li>
			<li><a href="#">Login</a></li>
			<!-- <li class="first">
				<span class="opener">Services<b></b></span>
				<ul>
					<li><a href="#">Lorem Ipsum</a></li>
					<li><a href="#">Consequat Dolor</a></li>
					<li><a href="#">Magna Feugiat</a></li>
					<li>
						<span>Sed Tempus<b></b></span>
						<ul>
							<li><a href="#">Lorem Ipsum</a></li>
							<li><a href="#">Consequat Dolor</a></li>
							<li><a href="#">Magna Feugiat</a></li>
							<li><a href="#">Sed Tempus</a></li>
							<li><a href="#">Etiam Nullam</a></li>
							<li><a href="#">Amet Phasellus</a></li>
						</ul>
					</li>
					<li><a href="#">Etiam Nullam</a></li>
					<li><a href="#">Amet Phasellus</a></li>
				</ul>
			</li>
			<li><a href="#">Products</a></li>
			<li><a href="#">Clients</a></li>
			<li>
				<span class="opener">Support<b></b></span>
				<ul>
					<li><a href="#">Lorem Ipsum</a></li>
					<li><a href="#">Consequat Dolor</a></li>
					<li><a href="#">Magna Feugiat</a></li>
					<li>
						<span>Sed Tempus<b></b></span>
						<ul>
							<li><a href="#">Lorem Ipsum</a></li>
							<li><a href="#">Consequat Dolor</a></li>
							<li><a href="#">Magna Feugiat</a></li>
							<li><a href="#">Sed Tempus</a></li>
							<li><a href="#">Etiam Nullam</a></li>
							<li><a href="#">Amet Phasellus</a></li>
						</ul>
					</li>
					<li><a href="#">Etiam Nullam</a></li>
					<li><a href="#">Amet Phasellus</a></li>
				</ul>
			</li>
			<li><a href="#">About</a></li>
			<li class="last"><a href="#">Contact</a></li> -->
		</ul>
		<br class="clearfix" />
	</div>
	<!-- Menu Ends -->
	<div id="slider">
		<div class="viewer">
			<div class="reel">
				<div class="slide">
					<img src="{% static './images/banner1.jpg '%}" height="230" width="870" alt=""/>
				</div>
				<div class="slide">
					<img src="{% static './images/banner2.jpg '%}" height="230" width="870" alt="" />
				</div>
				<div class="slide">
					<img src="{% static './images/banner3.jpg '%}" height="230" width="870" alt="" />
				</div>
				<div class="slide">
					<img src="{% static './images/banner4.jpg '%}" height="230" width="870" alt="" />
				</div>
				<div class="slide">
					<img src="{% static './images/banner5.jpg '%}" height="230" width="870" alt="" />
				</div>
			</div>
		</div>
		<div class="indicator">
			<span>1</span>
			<span>2</span>
			<span>3</span>
			<span>4</span>
			<span>5</span>
		</div>
	</div>

	<div id="page">
		<div id="content">
			<div class="box" style="text-align:center">
				<h2>Welcome to Share IT</h2>
				<p>
					Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus accusantium dolorem corrupti maiores voluptates eius impedit repudiandae voluptatem, enim et cum illum. Reiciendis eos saepe animi quos quae minima. Obcaecati!
					Esse porro incidunt possimus quod ullam id adipisci. Fuga doloremque ut rerum atque error voluptatum veritatis reprehenderit. Obcaecati, eos aliquid labore ipsam minus aliquam reprehenderit nemo possimus exercitationem odit distinctio.
					Aut quas totam similique veritatis modi harum rerum, quasi ullam a! Alias itaque, pariatur eum ducimus perferendis, velit omnis qui, nisi optio iusto ut error tenetur fuga veritatis laboriosam sapiente.
					Voluptatum maxime repellat id expedita laboriosam molestiae obcaecati nulla officiis excepturi aliquid aspernatur debitis praesentium voluptate soluta dicta impedit optio quaerat vitae consequuntur, facere quam corporis! Enim aspernatur inventore corporis.
					Velit consectetur recusandae, tenetur, perferendis ab debitis esse sit, illo modi praesentium placeat iure? Enim est quibusdam tempora perspiciatis expedita debitis nobis minima, soluta doloremque iusto repudiandae maiores? Temporibus, hic?
					Itaque maxime ratione veniam voluptates cum commodi harum iusto quo, est, earum odio facilis voluptas qui, delectus odit aperiam. Provident natus labore nam magnam dolorum veniam, explicabo optio numquam eaque?
					Dolor modi, delectus ab assumenda hic laudantium molestiae illo autem, incidunt excepturi corporis perspiciatis quod nam sunt facilis perferendis quae error voluptatibus repudiandae voluptates, sit quos quo. Quae, quis iure?
					Velit laborum nemo ipsa minus est aliquid beatae, esse quidem omnis reprehenderit voluptatum maiores aperiam, iste eligendi harum numquam eaque cum exercitationem rem fugit. Ducimus repudiandae iure quibusdam totam ipsam?
					Dolores, officia consequatur maiores sint ipsa sit iusto modi nisi velit distinctio voluptatum pariatur voluptas blanditiis, nihil reiciendis? Repellat officiis veritatis fugit vel voluptas velit rem beatae dicta quia molestiae!
					Quod delectus nobis, laborum est commodi sequi eos accusamus consequatur asperiores vitae, ab expedita labore exercitationem nostrum, autem perspiciatis! Sit molestias, reiciendis quo et soluta sapiente ab perferendis cum distinctio!
				</p>
			</div>
			<br class="clearfix" />
		</div>
		<div id="sidebar">
			<div class="box">
				<h3>Social Links</h3>
				<ul class="list">
					<li class="first"><a href="#">Twitter</a></li>
					<li><a href="#">Linkedin</a></li>
					<li><a href="#">Instagram</a></li>
					<li><a href="#">Faceboook</a></li>
					<li class="last"><a href="#">Whatsapp</a></li>
				</ul>
			</div>
		</div>
		<br class="clearfix" />
	</div>
	<div id="page-bottom">
		<div id="page-bottom-content">
			<h3>About</h3>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis debitis nam magnam tempora earum nostrum veritatis enim sint. Dolore, voluptas? Atque praesentium dolor unde cupiditate aut, minus eligendi numquam? Qui eveniet eius aliquid aperiam iste necessitatibus et cumque architecto repellat laborum ut, culpa, placeat neque error. Eos magnam voluptates quibusdam nisi, ut sequi sit ratione modi laboriosam obcaecati unde architecto?
			</p>
		</div>
		<div id="page-bottom-sidebar">
			<h3>Quick Links</h3>
			<ul class="list">
				<li class="first"><a href="#">Home</a></li>
				<li><a href="#">Login</a></li>
				<li class="last"><a href="#">Register</a></li>
			</ul>
		</div>
		<br class="clearfix" />
	</div>
</div>
<div id="footer">
	&copy; Share IT , All rights are reserved by Vivek Yadav !
</div>
</body>
</html>