{% load static %}
{% include "adminheader.html" %}
{% include "adminnav.html" %}	
	
		

	<div id="page">
		<h2>View and Manage Users</h2>

		<table cellspacing="5">
			<tr>
				<th>RegID</th>
				<th>Name</th>
				<th>Email</th>
				<th>Mobile</th>
				<th>Address</th>
				<th>City</th>
				<th>Gender</th>
				<th>Info</th>
				<th>Status</th>
				<th>Action</th>
			</tr>
			<tr><td colspan="10"><hr/></td></tr>

			{% for row in userDetails %}
				<tr>
					<td>{{row.regid}}</td>
					<td>{{row.name}}</td>
					<td>{{row.email}}</td>
					<td>{{row.mobile}}</td>
					<td>{{row.address}}</td>
					<td>{{row.city}}</td>
					<td>{{row.gender}}</td>
					<td>{{row.info}}</td>
					<td>
						{% if row.status%}
						<font color="green">Active</font>
						{% else %}
						<font color="red">Inactive</font>
						{% endif %}
					</td>
					<td>
						{% if row.status%}
						<a href = "/manageuserstatus/?s=inactive&regid={{row.regid}}">Change Status</a>
						{% else %}
						<a href = "/manageuserstatus/?s=active&regid={{row.regid}}">Change Status</a>
						{% endif %}
						<a style="color:red;"href = "/manageuserstatus/?s=delete&regid={{row.regid}}">Delete</a>
					</td>					
				</tr>
				<tr><td colspan="10"><hr/></td></tr>
			{% endfor %}
		</table>
	</div>
	
{% include "footer.html"%}