{% load static %}<style>
  .inpt {
    width: 100%;
  }
</style>

<!-- page starts -->
<div id="page">
  <div id="content">
    <div class="box">
      <font style="font-size: 20px; color: blue">{{output}}</font>
      <h2>Register Here !!!</h2>

      <form method="post" action="/register/">
        {% csrf_token %}
        <table cellspacing="20">
          <tr>
            <td>Name</td>
            <td>
              <input
                class="inpt"
                type="text"
                name="name"
                placeholder="Enter the Name"
              />
            </td>
          </tr>
          <tr>
            <td>Username(Email)</td>
            <td>
              <input
                class="inpt"
                type="text"
                name="email"
                placeholder="Enter the Email"
              />
            </td>
          </tr>
          <tr>
            <td>Password</td>
            <td>
              <input
                class="inpt"
                type="password"
                name="password"
                placeholder="Create Password"
              />
            </td>
          </tr>
          <tr>
            <td>Mobile</td>
            <td>
              <input
                class="inpt"
                type="text"
                name="mobile"
                placeholder="Enter mobile number"
              />
            </td>
          </tr>
          <tr>
            <td>Address</td>
            <td>
              <textarea
                rows="5"
                name="address"
                placeholder="Enter Address"
              ></textarea>
            </td>
          </tr>
          <tr>
            <td>City</td>
            <td>
              <select class="inpt" name="city">
                <option>Indore</option>
                <option>Ujjain</option>
                <option>Bhopal</option>
				<option>Khargone<option/>
              </select>
            </td>
          </tr>
          <tr>
            <td>Gender</td>
            <td>
              Male
              <input type="radio" name="gender" value="male" /> &nbsp;&nbsp;
              Female <input type="radio" name="gender" value="female" />
            </td>
          </tr>
          <tr>
            <td><input type="submit" value="Register" /></td>
          </tr>
        </table>
      </form>
    </div>
    <br class="clearfix" />
  </div>

  <div id="sidebar">
    <div class="box">
      <h3>Social Links</h3>
      <ul class="list">
        <li class="first"><a href="#">Gmail</a></li>
        <li><a href="#">Linkedin</a></li>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Instagram</a></li>
        <li class="last"><a href="#">Google+</a></li>
      </ul>
    </div>
  </div>

  <br class="clearfix" />
</div>
<!-- page ends -->
