{% load static %}
{% include "userheader.html" %}
{% include "usernav.html" %}	
	
		

	<div id="page">
				<h2>View and Download Notes</h2>
                <table cellspacing="10">
                    <tr>
                        <th>DOCID</th>
                        <th>Title</th>
                        <th>Category</th>
                        <th>Description</th>
                        <th>Document</th>
                        <th>UID</th>
                        <th>Info</th>
                    </tr>
                    <tr><td colspan="7"><hr/></td></tr>

                    {% for row in data %}
                        <tr>
                            <td>{{row.docid}}</td>
                            <td>{{row.title}}</td>
                            <td>{{row.category}}</td>
                            <td>{{row.description}}</td>
                            <td><a href="/media/{{row.fiename}}" action="download" >Downloads</a></td>
                            <td>{{row.uid}}</td>
                            <td>{{row.info}}</td>				
                        </tr>
                        <tr><td colspan="7"><hr/></td></tr>
                    {% endfor %}

                </table>
	</div>
	
{% include "footer.html"%}